PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=_X-kuGr0Bdvh5siF9UbPVfR_1NS5I1VX

DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PROFILE=
AWS_EP=
AWS_BUCKET_NAME=
AWS_REGION=